* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica;
    object-fit: cover;
}
html{background: whitesmoke;
}
body{
  max-width: 1220px;
  margin: 0 auto;
  }
  .pirma-lapa {
      margin: 0 auto;
      width: 850px;
      background: white;
      height: 410px;
  }
  .widget {
      background: #ffffffcf;
      background-blend-mode: screen;
      background-image: url(https://kbirums.github.io/inklud_widget/img/1.jpg);
      padding: 15px;
      height: 100%;
  }
  .w_uzruna {
      height: 100px;
      padding: 1px;
  }
#w_logo {
    width: 340px;
    float: left;
}
.uzruna_teksts {
    float: left;
    padding-top: 30px;
}
.kategorija{
    font-size: 0.8rem;
}
#uzruna1 {
    font-size: 25;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}
.w_elements_item {
    background: white;
    width: 24%;
    float: left;
    position: relative;
    margin: 4px;
    box-shadow: 0px 1px 5px #80808066;
}
.w_elements_item:hover {
    box-shadow: 0px 1px 5px #636363;
}
.kategorija {
    left: -100px;
    bottom: -370px;
    position: absolute;
    background: white;
    height: 400px;
    width: 400px;
    border-radius: 500px;
    font-size: 0.85rem;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
}
.kategorija_text{
  {
    border-bottom: 1px solid #FFC107;
    padding: 0 10px;
}
}
.element_info {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 85px;
    padding: 0 10px;
    overflow: hidden;
}
.picture {
    width: 100%;
    padding: 5px 10px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
.virsraksts {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    padding: 5px 0 10px 0;
    overflow: hidden;
}
.pavadteksts {
    font-size: 0.85rem;
}
.poga {
    cursor: pointer;
    margin: 5px;
    background: #424242;
    color: white;
    padding: 5px;
    text-align: center;
}
.sidebar {
    position: relative;
    width: 300px;
    background: white;
    margin: 0 auto;
}
.s_elements_item {
    width: 100%;
    margin: 4px 0;
    border: 1px solid #f1f1f1;
    display: block;
}
#s_logo{
    width: 90%;
    margin: 0 auto;
    float:left;
}
.s_element_info {
    min-height: 130px;
    position: relative;
    padding: 0 10px 10px 10px;
}
.s_uzruna_teksts {
    clear: both;
    text-align: center;
}


@media screen and (max-width: 700px){
body{
    width: 100%;
}
.widget{
    padding: 1px;
    height: 100px;
    width: 100%;
}
.pirma-lapa{
    width: 100%;
    padding:5px;
  }
.uzruna_teksts{
  display:none;
}
.elementi{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}
#w_logo{
    margin: 0 auto;
    width: 90%;
}
.w_uzruna {
    position: relative;
    padding: 0;
}
.w_elements_item {
    align-items: stretch;
    flex-wrap: wrap;
    float: left;
    display: flex;
}
.virsraksts {
  font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 5px 0;
}
}
