* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica;
    object-fit: cover;
}
html{background: whitesmoke;;}
body{
  max-width: 1220px;
  margin: 0 auto;
  }
  .raksts {
      margin: 0 auto;
      width: 850px;
      background: white;
      height: 470px;
  }
  .widget-header {
      padding: 1px;
      height: 100px;
      width: 100%;
  }
.w_uzruna {
    position: relative;
    padding: 1px;
}
#w_logo{
    width: 40%;
    float: left;
}
.w_uzruna_items {
    position: absolute;
    top: 1;
}
.uzruna_teksts {
    padding-top: 10px;
    float: right;
    width: 59%;
}
.w_elements_item {
    min-width: 190px;
    background: white;
    width: 24%;
    float: left;
    position: relative;
    margin: 4px;
    border: 1px solid #f1f1f1;
}
.Kategorijas {
    height: 43px;
    background: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.element_info {
    min-height: 155px;
    position: relative;
    padding: 0 10px 10px 10px;
}
.picture {
    width: 100%;
    padding: 5px 10px;
    height: 170px;
}
.element_kategorija {
  font-size: 0.9rem;
}
.virsraksts {
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 0;
}
.pavadteksts {
    min-height: 70px;
    font-size: 1rem;
    overflow: hidden;
}
.poga {
    background: #424242;
    color: white;
    padding: 5px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.poga:hover{
  background: #f5cc05;
  color: black;
}

.sidebar {
    position: relative;
    width: 300px;
    background: white;
    margin: 0 auto;
}
.s_elements_item {
    width: 100%;
    margin: 4px 0;
    border: 1px solid #f1f1f1;
    display: block;
}
#s_logo{
    width: 90%;
    margin: 0 auto;
    float:left;
}
.s_element_info {
    min-height: 130px;
    position: relative;
    padding: 0 10px 10px 10px;
}
.s_uzruna_teksts {
    clear: both;
    text-align: center;
}


@media screen and (max-width: 700px){
body{
    width: 100%;
}
.widget-header {
    padding: 1px;
    height: 100px;
    width: 100%;
}
  .raksts{
    width: 100%;
    padding:5px;
  }
.uzruna_teksts{
  display:none;
}
.elementi{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}
#w_logo{
    margin: 0 auto;
    width: 90%;
}
.w_uzruna {
    position: relative;
    padding: 0;
}
.w_elements_item {
    align-items: stretch;
    flex-wrap: wrap;
    float: left;
    display: flex;
}
.virsraksts {
  font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 5px 0;
}
}
