* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica;
    object-fit: cover;
}
html{background: whitesmoke;
}
body{
  max-width: 1220px;
  margin: 0 auto;
  }
.pirma-lapa {
      margin: 0 auto;
      width: 850px;
      background: white;
      height: 380px;
  }
.pl_widget {
      background: #ffffffcf;
      background-blend-mode: screen;
      background-image: url(https://kbirums.github.io/inklud_widget/img/1.jpg);
      padding: 15px;
  }
  .w_uzruna {
      height: 75px;
      padding: 1px;
  }
  #w_logo {
      padding: 10px;
      max-width: 330px;
      float: left;
      padding-left: 40px;
  }
.uzruna_teksts {
    float: left;
    padding-left: 30px;
    padding-top: 15px;
}
.kategorija{
    font-size: 0.8rem;
}
.elementi {
    display: inline-flex;
}
#uzruna1 {
    font-size: 25;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}
.w_elements_item {
    width: 24%;
    display: block;
    background: white;
    margin: 0px 5px;
    box-shadow: 0px 1px 5px #80808066;
}
.w_elements_item:hover {
    box-shadow: 0px 1px 5px #636363;
}
.kategorija {
    left: -100px;
    bottom: -370px;
    position: absolute;
    background: white;
    height: 400px;
    width: 400px;
    border-radius: 500px;
    font-size: 0.85rem;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
}
.partika{
    border-bottom: 2px solid #FFC107;
    padding: 0 10px;
}
.izklaide{
    border-bottom: 2px solid #ff6301;
    padding: 0 10px;
}
.produkts{
    border-bottom: 2px solid #03a9f4;
    padding: 0 10px;
}
.veseliba{
    border-bottom: 2px solid #56dea7;
    padding: 0 10px;
}
.element_info {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 85px;
    padding: 0 10px;
    overflow: hidden;
}
.picture {
    width: 100%;
    padding: 5px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
.virsraksts {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    padding: 5px 0 5px 0;
    overflow: hidden;
}
.pavadteksts {
    font-size: 0.85rem;
}
.poga {
    width: 70%;
    cursor: pointer;
    border: 1px solid grey;
    color: #080808;
    padding: 4px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
}
/*/ Raksta inklūdes sākums /*/
.raksts {
    width: 604px;
    margin: 0 auto;
}
.r_widget{
  background: #ffffffcf;
  background-blend-mode: screen;
  background-image: url(https://kbirums.github.io/inklud_widget/img/1.jpg);
  padding: 0 5px;
}
#r_logo {
    padding: 10px;
    max-width: 330px;
    float: left;
    padding-left: 40px;
}
.r_elements_item {
    width: 32%;
    display: block;
    background: white;
    margin: 0px 5px;
    box-shadow: 0px 1px 5px #80808066;
}
.r_elements_item:hover {
    box-shadow: 0px 1px 5px #636363;
}
@media screen and (max-width: 700px){
.pirma-lapa{display: none}
.sidebar{display: none}
body{
    width: 100%;
}
.raksts{
  width: 100%;
  padding:0 5px;
}
}
/*/ Saidbāra inklūdes sākums /*/
.sidebar {
    position: relative;
    width: 300px;
    background: white;
    margin: 0 auto;
}
.s_elements_item {
    width: 100%;
    margin: 4px 0;
    border: 1px solid #f1f1f1;
    display: block;
}
#s_logo{
    width: 90%;
    margin: 0 auto;
    float:left;
}
.s_element_info {
    min-height: 130px;
    position: relative;
    padding: 0 10px 10px 10px;
}
.s_uzruna_teksts {
    clear: both;
    text-align: center;
}
.space{
  height: 50px;
}

@media screen and (max-width: 700px){
body{
    width: 100%;
}
.widget{
    width: 100%;
}
}
